{{template "layout.tmpl" .}}
<h1>Отделы ингредиентов</h1>

<a class="button" href="/admin/departments/new">+ Новый отдел</a>

<table>
  <tr><th>Название</th><th></th></tr>
  {{range .Items}}
  <tr>
    <td>{{.Name}}</td>
    <td>
      <a href="/admin/departments/edit?id={{.ID}}">Править</a>
    </td>
  </tr>
  {{end}}
</table>
