{{template "layout.tmpl" .}}
<h1>{{if .Item}}Правка ингредиента{{else}}Новый ингредиент{{end}}</h1>

<form method="post" action="{{if .Item}}/admin/ingredients/save{{else}}/admin/ingredients/create{{end}}">
  {{if .Item}}<input type="hidden" name="id" value="{{.Item.ID}}">{{end}}
  
  <label>Название
    <input type="text" name="name" value="{{with .Item}}{{.Name}}{{end}}" required>
  </label><br>
  
  <label>Отдел
    <select name="department_id" required>
      {{range .Deps}}
      <option value="{{.ID}}" {{with $.Item}}{{if eq .DepartmentID $.ID}}selected{{end}}{{end}}>{{.Name}}</option>
      {{end}}
    </select>
  </label><br>
  
  <button type="submit">Сохранить</button>
</form>
