{{template "layout.tmpl" .}}
<h1>Ингредиенты</h1>

<a class="button" href="/admin/ingredients/new">+ Новый ингредиент</a>
<table>
  <tr><th>Название</th><th>Тип</th><th>Отдел</th><th></th></tr>
  {{range .Items}}
  <tr>
    <td>{{.Name}}</td>
    <td>{{.Department}}</td>
    <td>
      <a href="/admin/ingredients/edit?id={{.ID}}">Править</a>
    </td>
  </tr>
  {{end}}
</table>
